.PostList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .PostList {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.post {
  box-sizing: border-box;
  width: 50%;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .post {
    display: block;
    width: 100%;
    padding: 0;
  }
}
