body {
  margin: 0;
  font-family: 'Merriweather', serif, 'M PLUS 1p', sans-serif, Hiragino Kaku Gothic Pro, Meiryo, MS PGothic, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Arial, 'メイリオ';
  /* background: #e1ddce; */
}

.nuxt-progress {
  opacity: 1 !important;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    margin: 0 auto;
  }
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition: 0.2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
