.Footer {
  width: 100%;
}

.socialLinks {
  display: flex;
  justify-content: center;
  margin: 100px auto 40px;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  border: solid 1px #ddd;
  border-radius: 50%;
  fill: #777;
}

.socialLink svg {
  width: 55%;
  height: 55%;
}

.copyright {
  color: #444;
  font-size: 14px;
  text-align: center;
}
