:global(.Markdown) {
  position: relative;
  width: 100%;
}

/* Card Styles */
:global(.Markdown .embedly-card) {
  text-decoration: none;
}

:global(.Markdown .card) {
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 8.09px 24.26px rgba(67, 54, 102, 0.08);
  transition: 0.3s ease-out;
}

:global(.Markdown .card:hover) {
  box-shadow: 0 28.3px 88.94px rgba(67, 54, 102, 0.2);
}

:global(.Markdown .card__header) {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

:global(.Markdown .card__favicon) {
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
}

:global(.Markdown .card__provider) {
  color: #222;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

:global(.Markdown .card__body) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 16px;
}

:global(.Markdown .card__body.is-wide) {
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 768px) {
  :global(.Markdown .card__body) {
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  :global(.Markdown .card__body iframe) {
    width: auto;
    height: auto;
  }
}

:global(.Markdown .card__thumbnail) {
  display: block;
  width: 180px;
  margin: 0 24px 0 0;
  box-shadow: none;
}

:global(.Markdown .card__body.is-wide .card__thumbnail) {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  :global(.Markdown .card__thumbnail) {
    margin-bottom: 16px;
  }
}

:global(.Markdown .card__title) {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

:global(.Markdown .card__description) {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 20px;
}

:global(.Markdown .card__nav) {
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

/* Element Styles */
:global(.Markdown p) {
  margin: 36px auto;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.65px;
}

@media screen and (max-width: 768px) {
  :global(.Markdown p) {
    font-size: 16px;
    line-height: 30px;
  }
}

:global(.Markdown p:first-child) {
  margin-top: 0;
}

:global(.Markdown img) {
  width: 100%;
  margin: 24px auto;
  box-shadow: 2px 2px 40px -12px #999;
}

:global(.Markdown a) {
  color: #1a95b3;
  text-decoration: underline;
  transition: 0.3s;
}

:global(.Markdown a:hover) {
  opacity: 0.6;
}

:global(.Markdown h1) {
  position: relative;
  margin-top: 50px;
  padding-left: 12px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  :global(.Markdown h1) {
    margin-left: 0;
    padding-left: 4px;
    color: #4d4d4d;
    border-bottom: solid 2px #4d4d4d;
  }
}

:global(.Markdown h1::before) {
  position: absolute;
  left: 0;
  display: block;
  height: 34px;
  border-left: solid 4px #4d4d4d;
  content: '';
}

@media screen and (max-width: 768px) {
  :global(.Markdown h1::before) {
    content: none;
  }
}

:global(.Markdown h2) {
  margin: 50px 0 0;
  font-size: 24px;
}

:global(.Markdown h3) {
  font-size: 20px;
}

:global(.Markdown h3::after) {
  position: absolute;
  left: 0;
  display: block;
  width: 30px;
  height: 4px;
  border-bottom: solid 2px #ef6530;
  content: '';
}

:global(.Markdown .table-wrapper) {
  overflow: auto;
  white-space: nowrap;
}

:global(.Markdown thead) {
  color: #fefefe;
  background: #ef6530;
}

:global(.Markdown ul) {
  list-style: none;
}

@media screen and (max-width: 768px) {
  :global(.Markdown ul) {
    margin-top: 16px;
    margin-left: 5%;
  }
}

:global(.Markdown li) {
  padding-left: 24px;
  font-size: 18px;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  :global(.Markdown li) {
    padding-left: 12px;
    font-size: 16px;
  }
}

:global(.Markdown li::before) {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: 16px;
  margin-left: -20px;
  color: #1a95b3;
  line-height: 40px;
  background: #1a95b3;
  border-radius: 50%;
  content: '';
}

:global(.Markdown ol li::before) {
  content: none;
}

@media screen and (max-width: 768px) {
  :global(.Markdown li::before) {
    line-height: 32px;
  }
}

:global(.Markdown hr) {
  margin: 48px 0;
}

@media screen and (max-width: 768px) {
  :global(.Markdown hr) {
    margin: 32px 0;
  }
}

:global(.Markdown pre) {
  margin-top: 16px;
  text-shadow: none;
  background: #282c34;
  border-radius: 8px;
}

:global(.Markdown pre.language-shell) {
  text-shadow: none;
  background: #282c34;
  border-radius: 8px;
}

:global(.Markdown code[class*='language-']) {
  color: #fff;
  text-shadow: none;
}

:global(.Markdown :not(pre) > code[class*='language-']) {
  margin-right: 4px;
  padding: 4px 8px;
  color: #fff;
  font-size: 90%;
  text-shadow: none;
  background: #282c34;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  :global(.Markdown :not(pre) > code[class*='language-']) {
    font-size: 85%;
  }
}

:global(.Markdown .token.punctuation) {
  color: #fff;
}

:global(.Markdown .token.string) {
  color: #98c379;
}

:global(.Markdown .token.string, .Markdown .token.attr-name) {
  color: #92d761;
}

:global(.Markdown .token.boolean) {
  color: #c70370;
}

:global(.Markdown .token.keyword) {
  color: #66b9f4;
}

:global(.Markdown .token.selector, .Markdown .token.number) {
  color: #e4c625;
}

:global(.Markdown .token.property) {
  color: #42abd6;
}

:global(.Markdown .token.operator) {
  color: #e2810e;
  background: none;
}

:global(.Markdown .token.comment) {
  color: #a1a8b5;
}

:global(.Markdown .token.function) {
  color: #e2810e;
}

:global(.Markdown .token.tag, .Markdown .token.constant) {
  color: #de254b;
}
